@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --secondary-text-color: #a0a0a0;
  --border-color: rgba(255, 255, 255, 0.1);
  --glass-bg: rgba(16, 16, 16, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

main {
  width: 100%;
}